<h2>Edit Your Creation</h2>

<!-- <form action='/food/<%= "#{@food.id}" %>' method="post">
  <label for="food[name]">Name:</label>
  <input name="food[name]" value='<%= "#{@food.name}" %>'>
	<br>

  <label for="food[style_location]">Location:</label>
  <input name="food[style_location]" value='<%= "#{@food.style_location}" %>'>
	<br>

  <label for="food[meal_time]">Meal Time:</label>
  <input name="food[meal_time]" value='<%= "#{@food.meal_time}" %>'>
	<br>

  <label for="food[photo_url]">Photo URL:</label>
  <input name="food[photo_url]" value='<%= "#{@food.photo_url}" %>'>
  	<br>

  <input type="submit" value="Save">
</form> -->

<div class="row">
  <form class="col s12" action='/food/<%= "#{@food.id}" %>' method="post">
      <div class="row">
        <div class="input-field col s6">
          <input name="food[name]" value='<%= "#{@food.name}" %>' placeholder="'<%= "#{@food.name}" %>'" id="name" type="text">
          <label for="name">Your Creation's Name</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s6">
          <input name="food[style_location]" id="location" type="text">
          <label for="style_location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="food[meal_time]"  id="meal_time" type="text">
          <label for="meal_time">When To Eat?</label>
        </div>
      </div>
    <input type="submit" value="Save">
  </form>
 </div>
